
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}

.col-lg-9 {
   margin-top:40px;
}

.list-group-item {
  padding:10px;
}