<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>

<body>
<ul>
    <li th:each="k : ${kategoriat}">
        <span th:text="${k.nimi}">item name</span>
    </li>
</ul>

<h1>Uusimmat uutiset</h1>

<ul>
    <li th:each="a : ${artikkelit}">
        <span th:text="${a.otsikko}">item name</span> - <span th:text="${a.kirjoittajat}">value</span> - <span th:text="${a.paivays}">value</span> - <span th:text="${a.paivays}">value</span>
    </li>
</ul>

</body>
</html>