<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Etusivu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Uutissivusto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        Etusivu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/luetuimmat}">Viikon luetuimmat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/uusimmat}">Uusimmat</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Lisää artikkeli</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h1 class="my-4">
        <small>Muokkaa artikkeli</small>
    </h1>
    <a th:href="@{/poista/{id}(id=${a.id})}" data-method="delete" class="btn btn-danger" role="button">Poista</a>
    <form th:action="@{/admin/poista/{id}(id=${a.id})}" th:method="DELETE">
        <input type="submit" value="Poista"/>
    </form>

    <div class="container">

        <div class="row">

            <div class="col-lg-9" >

                <div class="row">
                    <form th:action="@{/admin/muokkaa/{id}(id=${a.id})}" th:method="POST" id="artikkeli" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="otsikko">Otsikko</label>
                            <input type="text" class="form-control" name="otsikko" id="otsikko" th:value="${a.otsikko}" />
                        </div>
                        <div class="form-group">
                            <label for="ingressi">Ingressi</label>
                            <input type="text" class="form-control" name="ingressi" id="ingressi" th:value="${a.ingressi}" />
                        </div>
                        <div class="form-group">
                            <label for="file">Lisää kuva</label>
                            <input type="file" class="form-control-file" name="file" id="file" th:value="@{/kuvat/{id}/content(id=${a.id})}"/>
                        </div>
                        <div class="form-group">
                            Teksti: <textarea rows="4" cols="50" name="teksti" id="teksti" form="artikkeli" th:text="${a.teksti}">${a.teksti}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="kirjoittajat">Kirjoittajat (pilkuilla eroteltuina):</label>
                            <input type="text" class="form-control" name="kirjoittajat" id="kirjoittajat" th:value="${a.kirjoittajat}" />
                        </div>
                        <div class="form-group">
                            <label for="kategoriat">Kategoriat (pilkuilla eroteltuina):</label>
                            <input type="text" class="form-control" name="kategoriat" id="kategoriat" th:value="${kategoriat}" />
                        </div>
                        <input type="submit"/>
                    </form>
                </div>

            </div>

        </div>

    </div>

    <br/>
    <br/>

</div>

<footer class="py-5 bg-dark" style="background-color: white !important">
    <div class="container">
        <hr />
        <p class="m-0 text-center text-white" style="color: black !important">Uutissivusto 2017</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>
</html>